nav {
    transition: all 0.3s;
}

.nav--open {
    height: 130px;
}

.nav__flex {
    display: flex;
    justify-content: space-between;
}

.nav__padding {
    width: 40px;
}

.nav__logo {
    margin-lefT: 10px;
    font-size: 2.5rem;
}

.nav__search-button {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    font-family: 'Material Icons', sans-serif;
    font-size: 1.5rem;
    background-color: #6a1b9a;
    border: none;
    color: white;
    transition: all 0.2s;
}

.nav__search-button:hover {
    background-color: #9c27b0;
}

.nav__search-container {
    text-align: center;
}